
#app {
    font-family: "Poppins", sans-serif !important;
}

:root {
    /* Color */
    --primary_color: #3F3F3F;
    --secondary_color: #be222a;
    --accent_color: #FBFBFB;
    --text_color: #818181;
    --default_color: #FFFFFF;
    --color_one: #fee4e4;
    --color-tercary: #c4696e;
    /* Background */
    --primary_bg: #FAF7FE;
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
section {
    padding: 100px 0px;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
h2 {
    color: var(--primary_color);
    font-size: 44px;
    font-weight: 700;
    text-transform: capitalize;
}
h3 {
    color: var(--primary_color);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
h4 {
    color: var(--secondary_color);
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
h6 {
    color: var(--secondary_color);
    font-size: 18px;
    font-weight: 700;
}
p {
    color: var(--text_color);
    font-size: 17px;
    font-weight: 400;
}

ul li {
    color: var(--text_color);
    font-size: 17px;
    font-weight: 400;
    margin: 15px 0px;
    display: flex;
    align-items: center;
}


ul li i {
    color: var(--secondary_color);
    margin-right: 20px;
}

@media (max-width: 575.98px) {
    ul li {
        font-size: 15px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    ul li i {
        margin-right: 0;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    ul li {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    ul li {
        font-size: 17px;
        flex-direction: row;
        align-items: center;
    }

    ul li i {
        margin-right: 20px;
    }
}

/* title */
.large-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary_color);
}
.large-title span {
    color: var(--secondary_color);
}

/* card start */
.card {
    height: 100%;
    background: var(--default_color);
    box-shadow: 0px 30px 70px rgba(160, 171, 201, 0.15) !important;
    border-radius: 10px;
    border: 1px solid rgba(238, 57, 57, 0.25) !important;
    position: relative;
    z-index: 1;
    border-radius: 10px !important;
}
.card::before {
    position: absolute;
    content: '';
    inset: 0;
    background: var(--secondary_color) !important;
    z-index: -1;
    transition: opacity 0.4s linear;
    opacity: 0;
    border-radius: 10px !important;
}
.card:hover::before {
    opacity: 1;
    border-radius: 10px;
}
.card-title {
    color: var(--secondary_color);
    margin-bottom: 18px;
    transition: 0.4s all;
}
.card:hover .card-title {
    color: var(--default_color);
    transition: 0.4s all;
}
.card p {
    transition: 0.4s all;
}
.card:hover p {
    color: var(--default_color);
    transition: 0.4s all;
}

/* btn start */
.btn {
    color: var(--secondary_color) !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-transform: capitalize;
    padding: 10px 36px 9px !important;
    border-radius: 4px !important;
    border: 1px solid var(--color_one) !important;
    background: var(--color_one) !important;
    transition: 0.4s all ease !important;
}
.btn:hover {
    color: var(--default_color) !important;
    background: var(--secondary_color) !important;
    border: 1px solid var(--secondary_color);
    transition: 0.4s all ease;
}
.btn:active {
    color: var(--default_color) !important;
    background: var(--secondary_color) !important;
    border: 1px solid var(--secondary_color) !important;
    transition: 0.4s all ease !important;
}
.secondary_btn {
    color: var(--secondary_color);
    background: var(--default_color);
    border: 1px solid var(--default_color);
    transition: 0.4s all ease;
}
.secondary_btn:hover {
    color: var(--secondary_color);
    background: var(--default_color);
    border: 1px solid var(--default_color);
    transition: 0.4s all ease;
}
.secondary_btn:active {
    color: var(--secondary_color) !important;
    background: var(--default_color) !important;
    border: 1px solid var(--default_color) !important;
    transition: 0.4s all ease;
}